<?xml version="1.0" encoding="UTF-8"?>
	<widget id="com.oracle.shoes" version="0.0.1">
        <name>The Oracle of Shoes</name>
        <description>
            A prototype for The Oracle of Shoes
        </description>
        <author email="shane@14oranges.com" href="http://phonegap.com">
            14 Oranges
        </author>
        <content src="index.html" />
        <access origin="*" />
		
		<preference name="Fullscreen" value="true" />
		<preference name="Orientation" value="portrait" />
		<preference name="phonegap-version" value="3.5.0" /> 
    </widget>
