/** Include Styles Specific to the App Here */
body, html{
	width:100%;
	height:100%;
}
#background {
	width:100%;
	height:100%;
	background-attachment: fixed;
	background-color: #ccc;
	background-image: url(../img/home-bg.jpg);
	background-origin: initial;
	background-position-x: 0;
	background-position-y: 0;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-size: 100%;	
	-webkit-background-size: 100%;
	position:absolute;
	top:0;
	left:0;
}
.loadingDialogDiv {
    text-align: center;
    margin-top: 150px;
}

.loadingDialogDiv button {
    width: 45%;
}

.logo {
	left: 10%;
	top:30px;
	position: absolute;
	width:80%;
}
.menuButtons {
	left: 10%;
	bottom: 46px;
	position: absolute;
	width:80%;
}

/* cards page specific */

#cards img { width:35%; padding:5% 7%;}
#cards .content { padding:32px 28px;}

#card-1 .front {background: url('../img/cards/1-front.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-1 .back {background: url('../img/cards/1-back.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-2 .front {background: url('../img/cards/2-front.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-2 .back {background: url('../img/cards/2-back.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-3 .front {background: url('../img/cards/3-front.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-3 .back {background: url('../img/cards/3-back.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-4 .front {background: url('../img/cards/4-front.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-4 .back {background: url('../img/cards/4-back.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-5 .front {background: url('../img/cards/5-front.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-5 .back {background: url('../img/cards/5-back.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-6 .front {background: url('../img/cards/6-front.png') 0 0 no-repeat; background-size: 100% 100%;}
#card-6 .back {background: url('../img/cards/6-back.png') 0 0 no-repeat; background-size: 100% 100%;}

/*  CSS for flipping animations */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

.flip-container, .front, .back {
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%; 
	width: 100%;
	height: 100%;
    background-size: 100% 100%;

}	

/* flip speed goes here */
.flipper {
	width: 100%;
	height: 100%;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}
.topcoat-content { width:100%; height: 100%; }

/* card specific */


